.bv-container {
  padding: 1rem 0;
}

.bv-container .container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bv-video {
  width: 90%;
  border-radius: 4rem;
  z-index: 1;
}

@media (max-width: 1024px) {
  .bv-video {
    width: 95%;
  }
}

@media (max-width: 768px) {
  .bv-video {
    border-radius: 2rem;
  }
}
